.profile {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30%;
    height: 80%;
    margin: 60px auto;
}
.description {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.avatar {
	width: 30%;
	border-radius: 50%;
}
.name {
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
}
.tag, .location {
    color: rgb(138, 133, 133);
    font-size: 16px;
    margin: 0px;
}


.stats {
	list-style-type: none;
	display: flex;
	flex-direction: row;
    box-sizing: border-box;
    width: 100%;
	gap: 20px;
    border-top: 1px solid grey;
    background-color: rgb(171, 173, 188);
}
.stats li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}